HashKnownHosts no

# Include local machine-specific configs (not in git)
Include config.local

{{- if eq .chezmoi.os "darwin" }}

Host *
  AddKeysToAgent yes
  UseKeychain yes
  # IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- end }}


Host github.com
  User git

# Host macbook-air-m3
#  User twp

# Host ubuntu
#  HostName ubuntu

# Host windows
#  HostName windows
#  User twpay

{{ if .work -}}
# Host ssh.dev.azure.com
#  IdentityFile ~/.ssh/id_rsa
#  IdentitiesOnly yes

{{- if .is_wsl }}
# Short alias for work WSL2 machine
Host work-wsl
  HostName {{ .hostname }}
  User {{ .chezmoi.username }}
{{- end }}
{{ end -}}