{{- /* Only generate SSH key if 1Password is available and authenticated */ -}}
{{ if and (lookPath "op") (.work) -}}
{{   onepasswordRead "op://Employee/SSH Key/public key" }}
{{ else if and (lookPath "op") (.personal) -}}
{{   onepasswordRead "op://Private/SSH Key/public key" }}
{{ else -}}
# SSH public key - 1Password not available or not authenticated
# Generate manually with: ssh-keygen -t rsa -b 4096 -C "your_email@example.com"
{{ end -}}