#!/usr/bin/env bash

# homebrew and ~/.local/bin are set in .zshenv.
path=($path /usr/local/bin /usr/local/sbin /usr/bin /bin /usr/sbin /sbin)

{{- if eq .chezmoi.os "darwin" }}
path=($path /opt/homebrew/sbin /Library/Apple/usr/bin)
{{- end }}

if [[ -n "${ZSH_VERSION:-}" ]]; then
    fpath=("$HOME/.oh-my-zsh/completions" $fpath)
    [[ -d "/usr/local/share/zsh/site-functions" ]] && fpath=($fpath /usr/local/share/zsh/site-functions)
    [[ -d "/opt/homebrew/share/zsh/site-functions" ]] && fpath=($fpath /opt/homebrew/share/zsh/site-functions)
fi

{{- if eq .chezmoi.os "darwin" }}
manpath=($manpath /opt/homebrew/share/man /usr/local/share/man)
{{- end }}
manpath=($manpath /usr/share/man "$HOME/.local/share/man")
