#!/usr/bin/env bash

{{- if eq .chezmoi.os "darwin" }}
if [[ -f "${HOME}/.iterm2_shell_integration.zsh" ]]; then
    source "${HOME}/.iterm2_shell_integration.zsh"
fi
{{- end }}

if command -v pay-respects >/dev/null 2>&1; then
    eval "$(pay-respects zsh --alias f)"
fi
