alias cd..='cd ../'
alias ..='cd ../'
alias ...='cd ../../'
alias .3='cd ../../../'
alias .4='cd ../../../../'
alias .5='cd ../../../../../'
alias .6='cd ../../../../../../'
alias ~="cd ~"
alias ax='chmod a+x'
alias path='echo -e ${PATH//:/\\n}'
alias fpath='echo -e ${FPATH//:/\\n}'
alias untar='tar -zxvf'
alias mktar='tar -cvzf'
alias numfiles='echo $(ls -1 | wc -l)'
alias listpaths='echo $PATH | tr ":" "\n" | uniq -c | sort -nr'

####################### WORKTRUNK #######################
{{- if lookPath "wt" }}
# The worktrunk pre-start hook creates each worktree's tmux session with claude in it.
# Functions, not aliases: an alias would append the branch after `--`, handing it to
# tmux. No --execute=claude: the hook already starts it. `d` suffix = stay detached.
wts() { wt switch          -x tmux "$@" -- attach -t '{{ "{{ branch | sanitize }}" }}'; }
wtc() { wt switch --create -x tmux "$@" -- attach -t '{{ "{{ branch | sanitize }}" }}'; }

alias wtsd='wt switch'
alias wtcd='wt switch --create'
alias wtr='wt remove'
alias wtl='wt list'
# e.g. wtlog user:post-start:server
wtlog() { tail -f "$(wt config state logs get --hook="$1")"; }
{{- end }}

####################### TOOL ALIASES #######################
{{- if lookPath "bat" }}
alias cat=bat
{{- else if lookPath "batcat" }}
alias cat=batcat
{{- end }}

####################### LIST DIRECTORY CONTENTS #######################
{{- if lookPath "eza" }}
alias ls='eza --git --icons=auto'
alias l='eza -l --classify=auto --icons=auto {{- if not (and (eq .chezmoi.os "linux") (eq .chezmoi.arch "arm64")) }} --git{{ end }}'
alias ll='eza -lah --classify=auto --icons=auto {{- if not (and (eq .chezmoi.os "linux") (eq .chezmoi.arch "arm64")) }} --git{{ end }}'
alias llm='ll --sort=modified'
alias la='eza -lbhHigUmuSa --icons=auto {{- if not (and (eq .chezmoi.os "linux") (eq .chezmoi.arch "arm64")) }} --git{{ end }}'
alias lx='eza -lbhHigUmuSa@ --icons=auto {{- if not (and (eq .chezmoi.os "linux") (eq .chezmoi.arch "arm64")) }} --git{{ end }}'
alias lt='eza --tree --level=2 --icons=auto'
alias llt='eza -lah --classify=always --tree --level=2 --icons=auto'
alias ltt='eza -lah --classify=always --icons=auto | grep "$(date +"%d %b")"'
{{- else if eq .chezmoi.os "darwin" }}
alias ls="ls -G"
alias ll='ls -FGlAhpv'
alias ltt='ls -FlAhpv| grep "$(date +"%d %b")"'
{{- else }}
alias ls="ls --color=auto"
alias ll='ls -FlAhpv --color=auto'
alias ltt='ls -FlAhpv| grep "$(date +"%d %b")"'
{{- end }}
