{
  "version": 3,
  "lines": [
    [
      {
        "id": "1",
        "type": "model",
        "color": "cyan"
      },
      {
        "id": "2",
        "type": "separator"
      },
      {
        "id": "3",
        "type": "context-length",
        "color": "brightBlack"
      },
      {
        "id": "0d6f8d6a-aa4e-4df7-ae38-4a2b60241b04",
        "type": "separator"
      },
      {
        "id": "070bb72b-5eab-4f55-8367-28d9bfa5fb31",
        "type": "current-working-dir",
        "metadata": {
          "segments": "1"
        }
      },
      {
        "id": "4",
        "type": "separator"
      },
      {
        "id": "5",
        "type": "git-branch",
        "color": "magenta",
        "metadata": {
          "hideNoGit": "true"
        }
      },
      {
        "id": "6",
        "type": "separator"
      },
      {
        "id": "7",
        "type": "git-changes",
        "color": "yellow",
        "metadata": {
          "hideNoGit": "true"
        }
      }
    ],
    [
      {
        "id": "ca58edc6-dc4d-4876-b513-99124491efba",
        "type": "context-percentage-usable",
        "metadata": {
          "inverse": "false"
        }
      },
      {
        "id": "01aa04a1-05e0-475b-958e-cd5fb9131870",
        "type": "separator"
      },
      {
        "id": "334f2185-a441-4308-b6a5-cc3f8d512be2",
        "type": "session-cost"
      }
    ],
    [
      {
        "id": "28299733-cb90-4088-8a36-edbd671864de",
        "type": "custom-command",
        "commandPath": "bun x -y ccusage statusline",
        "timeout": 5000,
        "preserveColors": true
      }
    ]
  ],
  "flexMode": "full-minus-40",
  "compactThreshold": 60,
  "colorLevel": 2,
  "inheritSeparatorColors": false,
  "globalBold": false,
  "minimalistMode": false,
  "powerline": {
    "enabled": false,
    "separators": [
      ""
    ],
    "separatorInvertBackground": [
      false
    ],
    "startCaps": [],
    "endCaps": [],
    "autoAlign": false,
    "continueThemeAcrossLines": false
  }
}